<h1>About This Article</h1>

<p><%= @article.title %></p>
<p><%= @article.content %></p>
<p><%= link_to 'Back to List', articles_path %></p>
<p><%= link_to 'Edit this article', edit_article_path %></p>
